<%- include("partials/header1"); -%>
<div class="make">
    <h1><strong>Welcome <%= username %>!</strong></h1>
    <br/>
    <p style="font-size: 30px;">Welcome to your Daily Blog! See what's happening arround in the community.</p>
    
    <br>
    <!-- <div class="text-center">
      <strong>Compose or see posts:</strong>
      <a href="/compose"><button type="button" class="btn btn-success btn-lg">Compose</button></a>
      <a href="/posts"><button type="button" class="btn btn-info btn-lg">My Posts</button></a>
      <a href="/home"><button type="button" class="btn btn-secondary btn-lg">All Posts</button></a>
    </div> -->
    <div class="text-center" style="width:75%; margin:auto;">
      <form action="/search" method="post">
        <div class = "input-group">
        <input type="text" class="input-group-field form-control" name="searchString" placeholder="Search posts" style="border-radius: 10px;" autocomplete="off">
        <button type="submit" class="input-group-button btn btn-warning btn-lg">Search</button>
        </div>
      </form>
    </div>
    <br>
    <h2><%= type %> Posts:</h2>
    <div class="space reverse">
        <%  array.forEach(function(post){ %>

        <div class="card">
            <div class="card-body">
              <h2 class="card-title"><%=post.title%></h2>
              <div class="dte"><strong><%=post.date%></strong></div>
              <p class="card-text"><%= (post.post).substring(0,100) + " ..."%>
                </p>
                <div class="dte">
                  <em>Posted by: <%=post.postedby%></em>
                </div>
              <a href="/posts/<%=post._id%>" class="btn btn-primary">Read More</a>
            </div>
          </div>
          <br>
        <% }) %>

    </div>
    </div>
<%- include("partials/footer"); -%>