<%- include("partials/header1"); -%>
<div class="make">
    <h2><%= array2.title %></h2>
    <p style="text-align: right;"><strong><%= array2.date %></strong></p>
    <p><%= array2.post %></p>
    <div class="dte"><em>Posted by: <%=array2.postedby%></em></div>
    <hr style="height: 2px;">
    <br>
    <div style="width: 90%; float: right;">

        <% array2.comments.forEach(function(comment){ %>
            <div class="card">
                <div class="card-body">
                    <div><strong><em>Comment by: <%=comment.commentby%></em></strong></div>
                    <div class="dte"><strong><%= comment.commentdate %></strong></div>
                    <p class="card-text"><%= comment.comment %>
                    </p>
                </div>
            </div>
            <br>
        <% }) %>
            <br>

        <form class="form-inline" action="/comment" method="post">
            <div class="input-group">
            <input class="form-control" type="text" placeholder="Comment" name="comment" style="border-radius: 20px; margin-right: 10px;" style="width: 200px;">
            <button type="submit" class="btn btn-secondary" style="border-radius: 20px;" value="<%= array2._id %>" name="pid">Comment</button>
            </div>
        </form>    
    
    </div>
      
</div>
<%- include("partials/footer"); -%>